.page-header {
    width: 100%;
    height: 80px;
    position: relative;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(0, 0, 0));
    display: flex;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
  }
  
  .header-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .header-line {
    width: 2px;
    height: 50px;
    background-color: white;
    margin-right: 16px;
    border-radius: 2px;
  }
  
  .header-title {
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
    margin: 0;
  }


/* Адаптация для мобильных и планшетов */
@media (max-width: 768px) {
  .page-header {
    height: 60px; /* Уменьшаем высоту для мобильных устройств */
    padding: 0 20px; /* Уменьшаем отступы для мобильных устройств */
  }

  .header-title {
    font-size: 30px; /* Уменьшаем размер шрифта для мобильных устройств */
  }

  .header-line {
    height: 40px; /* Уменьшаем высоту линии */
  }
}

@media (max-width: 480px) {
  .page-header {
    height: 50px; /* Еще меньше для очень маленьких экранов */
    padding: 0 15px; /* Еще меньше отступы */
  }

  .header-title {
    font-size: 24px; /* Еще меньше шрифт для маленьких экранов */
  }

  .header-line {
    height: 30px; /* Уменьшаем высоту линии */
  }
}