html, body {
  overflow-x: hidden;
}
#root {
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  min-height: 100vh; /* Обеспечивает, чтобы родительский контейнер занимал всю высоту */
  display: flex;
  width: 100%;
}

.page-header-wrapper{
  padding-top: 5%;
}